%visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  opacity: 0;
  clip-path: inset(100%);
}

%hidden {
  opacity: 0;
  visibility: hidden;
}

%visible {
  opacity: 1;
  visibility: visible;
}

%text-inline-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
