@use "sass:map";

$breakpoints: (
  l: 1440,
  m: 1024,
  s: 768,
  xs: 380
);

$media-l: map.get($breakpoints, l);
$media-m: map.get($breakpoints, m);
$media-s: map.get($breakpoints, s);
$media-xs: map.get($breakpoints, xs);
