@use "assets/styles/mixins" as mix;

.button {
  text-transform: uppercase;
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-800);
  @include mix.transition((color, background-color));
}
