@use "assets/styles/mixins" as mix;

.drawer {
  @include mix.transition(transform);

  position: fixed;
  z-index: 1000;
  inset-inline-start: 0;
  overflow-y: scroll;
  width: 100%;
  place-content: center;

  &_hidden {
    transform: translateX(100%);
  }

  &__nav-list {
    gap: calc(var(--spacer) * 9);
  }
}
