@use "assets/styles/mixins" as mix;
@use "assets/styles/functions" as fn;

.pricing-card {
  $this: &;

  @include mix.transition(border-color);

  min-height: fn.to-rem(500px);
  border: fn.to-rem(1px) solid var(--color-neutral-800);

  @include mix.hover {
    border-color: var(--color-primary-100);

    #{$this}__button {
      color: var(--color-neutral-800);
      background-color: var(--color-primary-100);
    }
  }

  &__details-list-item {
    &::before {
      content: "";
      width: fn.to-rem(6px);
      height: fn.to-rem(6px);
      background-color: currentcolor;
      margin-inline-end: fn.to-rem(6px);
    }
  }

  &__button {
    width: 100%;
  }
}
