{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
