@use "@/assets/styles/mixins" as mix;
@use "@/assets/styles/functions" as fn;

.slider {
  $this: &;

  overflow: hidden;
  position: relative;
  display: grid;
  max-width: fn.to-rem(1920px);
  min-height: fn.to-rem(654px);

  &__hover-area {
    position: absolute;
    z-index: 1;
    inset-block-start: 0;
    width: 30%;
    height: 100%;
    cursor: pointer;

    &_start {
      inset-inline-start: 0;
    }

    &_end {
      inset-inline-end: 0;
    }
  }

  &__inner,
  &__slides,
  &__slide {
    height: 100%;
  }

  &__inner {
    width: 100%;

    @include mix.media("l") {
      width: auto;
    }
  }

  &__slides {
    position: absolute;
    touch-action: pan-x;

    &_transition {
      @include mix.transition(transform);
    }
  }

  &__slide {
    flex-shrink: 0;

    &:nth-child(12n + 3),
    &:nth-child(12n + 5),
    &:nth-child(12n + 11) {
      picture {
        margin-block-start: 42.86%;
      }
    }

    &:nth-child(6n + 2),
    &:nth-child(3n + 6) {
      justify-content: center;
    }

    &:nth-child(7n + 1) {
      justify-content: end;
    }

    &:nth-child(12n) {
      justify-content: start;
    }

    &:nth-child(12n + 1),
    &:nth-child(12n + 4),
    &:nth-child(12n + 8),
    &:nth-child(12n) {
      width: fn.to-rem(400px);

      #{$this}__picture {
        aspect-ratio: 1 / 1.335;
      }
    }

    &:nth-child(12n + 3),
    &:nth-child(12n + 5),
    &:nth-child(12n + 7),
    &:nth-child(12n + 10),
    &:nth-child(12n + 11) {
      width: fn.to-rem(280px);

      #{$this}__picture {
        aspect-ratio: 1 / 1.336;
      }
    }

    &:nth-child(12n + 2),
    &:nth-child(12n + 6),
    &:nth-child(12n + 9) {
      width: fn.to-rem(220px);

      #{$this}__picture {
        aspect-ratio: 1;
      }
    }
  }
}
